* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  height: 100px;
  box-sizing: border-box;
  background-color: rgb(43, 110, 88);
}

.header h1 {
  padding-top: 25px;
  color: white;
}

.navegation {
  background-color: rgb(43, 110, 88);
  padding: 0 10px ;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
}

.navegation_list {
  display: flex;
  justify-content: flex-start;
}

.navegation_list li {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 20px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;

}

.navegation_list li:hover {
  background-color: rgb(91, 180, 151);
}

.content {

  width: 60%;
  margin-left: auto;
  padding: 20px;
  text-align: justify;
  background-color: rgb(128, 128, 128);
}

.content h2 {
  text-align: center;
}

.geralInfo{}
.geralInfo h3 {
  padding: 10px 0;
}

.geralInfo p{
  text-indent: 30px;
  line-height: 25px;
}

.geralInfo table {
  border-collapse: collapse;
  margin: 10px auto;
}

.geralInfo th,td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.geralInfo caption {
  font-weight: bold;
  font-size: 1.3em;
}

.iterestingFacts{
  overflow: auto;
  margin: 20px 0;
  padding: 0 20px 10px;
  background-color: rgb(141, 141, 141);
}

.iterestingFacts h3 {
  padding: 10px 0;
}

.iterestingFacts p {
  text-indent: 30px;
  line-height: 25px;
}
.iterestingFacts img {
  float: left;
  width: 280px;
  align-items: center;
  margin-right: 10px;
  margin-top: 10px;
}

.references {
  padding: 10px 20px;
  background-color: rgb(141, 141, 141);
  line-height: 25px;
}

main{
  display: flex;
}

aside {
  
  width: 20%;
  margin-right: auto;
  padding: 10px;
  background-color: rgb(141, 141, 141);
  text-align: justify;
}

aside div {
  height: 200px;
  background-color: gray;
  margin-top: 10px;
  padding: 15px;
}

aside a:hover {
  text-decoration: none;
}

.footer {
  height: 50px;
  background-color: rgb(43, 110, 88);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}